@import url('https://fonts.googleapis.com/css?family=Quicksand');
.vafa {
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: cornsilk;
    letter-spacing: 1px;
}

.icons {
    text-align: center;
    font-size: 45px;
}

body {
    background-color: bisque;
}

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none
    }

#dehghan {
    color: burlywood;
}

#contact {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

contact:hover {}

.dropdown {
	text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.dropdown-content {
	text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: none;

}

.dropdown:hover .dropdown-content {
    display: block;
