body {
  background-color: rgba(247, 240, 225, 0.3);
}
.container-fluid {
  margin-top: 15vh;
}
#image-cropper {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
#profileImage {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
#profile-header {
  float: right;
  margin-right: 8vh;
  position: relative;
}
#name {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
.nameimg {
  width: 125px;
  display: block;
  margin: auto;
}
#about-section {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 20px;
  margin-top: 15vh;
}
#contact-info {
  
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#icons {
  text-align: center;
  font-size: 50px;
}
#icons a {
  text-decoration: none;
  color: black;
}
.smallHr {
  width: 40%;
}
hr {
  width: 70%;
}
