@import url('https://fonts.googleapis.com/css?family=Quicksand');


.vafa {
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}
.icons {
    text-align: center;
    font-size: 45px;
}
.icons>a:hover {
    font-size: 50px;
}

body{
    background-color: bisque;   
}

a:visited{
    color: black;
}
